<header class="site-header">
  <div class="header-content">
    <p class="site-title"><a href="/" class="unstyled-link">{{ site.title | upcase }}</a></p>
    <div class="header-social-links">
      {%- if site.author.email -%}
        <a href="mailto:{{ site.author.email }}" title="Email">Email</a>
      {%- endif -%}
      {%- if site.mono-lite.social_links.resume -%}
        <a href="{{ site.mono-lite.social_links.resume }}" title="Resume">Resume</a>
      {%- endif -%}
      {%- if site.mono-lite.social_links.github -%}
        <a href="https://github.com/{{ site.mono-lite.social_links.github | cgi_escape }}" title="{{ site.mono-lite.social_links.github }}">GitHub</a>
      {%- endif -%}
      {%- if site.mono-lite.social_links.linkedin -%}
        <a href="https://www.linkedin.com/in/{{ site.mono-lite.social_links.linkedin | cgi_escape }}" title="{{ site.mono-lite.social_links.linkedin }}">LinkedIn</a>
      {%- endif -%}
    </div>
  </div>
</header>