body {
  font-family: 'Raleway', sans-serif;
  margin: 26px 0;
  line-height: 1.2;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; 
}

a {
  color: #207575;
  cursor: pointer;
}

h1 {
  font-weight: 600;
}

ul, li {
  margin: 0;
  padding: 0;
}