.back-btn {
  text-decoration: none;
  color: $brand-color-dark;
  margin-top: 0;
  position: relative;
  top: -8px;
}

.back-btn:hover {
  color: $brand-color;
}

.site-header p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.site-title {
  font-size: 1.125rem;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 850px;
  width: calc(100% - 20px);
  margin: 0 auto;
  align-items: center;
}

section {
  display: block;
  max-width: $content-width;
  width: 100%;
}

.post-category {
  margin-top: 2.5rem;
  font-weight: 600;
}

.post-row {
  display: flex;
  color: $text-color;
  text-decoration: none;
  margin-bottom: 1rem;
}

.post-row:hover {
  background: rgb(251, 251, 251);

  .post-img img {
    transform: scale(1.04);
  }
}

.post-img {
  display: block;
  overflow: hidden;
  height: 180px;
  width: 180px;
  flex-shrink: 0;
}

.post-img {
  overflow: hidden;
  border-radius: 8px;
  
  img {
    border-radius: 8px;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.post-details {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.post-date {
  display: block;
  margin-left: 2rem;
  margin-right: 1rem;
  flex-shrink: 0;
  font-weight: 300;
  font-size: 0.8rem;
}

.post-title {
  display: block;
}

.post-title-header {
  display: block;
  font-size: 1.5rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.post-subtitle {
  display: block;
  font-weight: 300;
  font-size: 0.8em;
}

.post {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.post-content {
  img {
    object-fit: contain;
    width: 100%;
  }
}

.post-byline {
  position: relative;
  top: -1rem;
  font-weight: 300;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header-social-links {
  a {
    color: $text-color;
    text-decoration: none;
    margin-left: 1rem;
    
    &:hover {
      color: $brand-color;
    }
  }
}

@media (max-width: $on-palm) {
  .post-img {
    height: 100px;
    width: 100px;
  }

  .post-details {
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1rem;
    -webkit-box-align: center;
    justify-content: center;
  }

  .post-date {
    margin-left: 0;
  }
}