@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Raleway', sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   16px !default;
$code-font-size:   0.91em;
$base-font-weight: 600 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$link-base-color:  #207575;

$spacing-unit:     30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    750px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Import pre-styling-overrides hook and style-partials.
@import
  "custom-variables", // Hook to override predefined variables.
  "base",             // Defines element resets.
  "layout",           // Defines structure and style based on CSS selectors.
  "custom-styles"     // Hook to override existing styles.
;